.start { 
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.background-mask {
    mask-image: url('/img/circle.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 50px;
    
    animation: lock-reveal 4s forwards ease-in-out;
    position: absolute;
    inset: 0;
}

* {
    color: var(--text-main);
}

